body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center; 
    background-color: #CB4335;
    color: #FFFFFF;
    padding: 2 px;
    margin-bottom: 2px;
}

#company-logo {
    width: 100px;
    height: 100px;
}

h1 {
    flex-grow: 1; 
    text-align: center; 
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#panel1 {
    background-color: #E67E22;
    color: #ffffff;
    padding: 30px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center; 
    width: 92%; 
}

#Titulo-Registro {
    color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 24px; 
    font-family: Arial, sans-serif; 
  
}


.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #CB4335;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
